@model IEnumerable<Movie>
@{
    ViewData["Title"] = "Movies";
}

<h2><i class="bi bi-film"></i> Movies</h2>
<hr />

<a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus"></i> Add new Movie</a>

<div class="mt-4">
    @if (!Model.Any())
    {
        <div class="alert alert-warning" role="alert">
            <i class="bi bi-exclamation-triangle"></i> No Movies Found!
        </div>
    }
    else
    {
        <ul>
            @foreach (var item in Model)
            {
                <li>@item.Name</li>
            }
        </ul>
    }
</div>